<br> 
<div class="navigation_homeowner col-xs-4" >
	<div class="homeowner-homepage">
		<h1>Member's Home Page </h1>
		<br />

		<h2>Address Book</h2>
		<div class="list-group">
			  <a href="#" class="list-group-item">Directory of Listed Members</a>
			  <a href="#" class="list-group-item">Meet the Board -- Photos and info about board members
				</a>

			<a href="#" class="list-group-item">Meet the Staff -- Photos and info about staff members
				</a>

			<a href="#" class="list-group-item">HOA: Contact Us
				</a>
		</div>
		<br />
		<h2>Blogging</h2>
		<div class="list-group">
			  <a href="#" class="list-group-item">VM Chat</a>
			  <a href="#" class="list-group-item">Suggestion Box - - -> ideas for consideration by the board</a>
			  <a href="#" class="list-group-item">Where Can I buy it?  Businesses that sell upkeep/maintenance supplies</a>
			  <a href="#" class="list-group-item">Free Stuff  When people are renovating and have useful stuff to give away</a>
			  <a href="#" class="list-group-item">Restaurant recommendations</a>
			  <a href="#" class="list-group-item">Beach Reviews</a>
			  <a href="#" class="list-group-item">Helpful Information for New Owners about Villa Madeleine Units
Blog entries/Posts from owners</a>
			  <a href="#" class="list-group-item">Invitations: Owners inviting other owners to open houses, parties, etc.</a>

		</div>
		<br />
		<h2>Archive</h2>
		<div class="list-group">
			  <a href="#" class="list-group-item">HOA Board Updates -- (minutes of recent meetings)</a>
			  <a href="#" class="list-group-item">HOA Policies -- (and index of documents to download)</a>
		</div>
		<br />

		<h2>Billing</h2>
		<div class="list-group">
			  <a href="#" class="list-group-item">Pay Your Bill</a>
		</div>

		<h2>Villas for Sale</h2>
		<div class="list-group">
			  <a href="#" class="list-group-item">Links to Current Listings</a>
		</div>
		

	</div>
</div>
<div class="col-xs-8" >
	<div class="hero_homeowner">
	  <br />
	  <br />
	  <br />
	  
	    <br />
	    <br />
	 </div>
	 <br />
	 <div class="homeowner-homepage">
		<h2>Welcome <%= current_user.first_name %>!</h2>
		<h4><li><%= link_to 'Edit Profile',edit_user_registration_path %></li></h4>
	</div>


</div>

	


