<p>Hey There!</p>
<p>
    You are just one small step away from getting on the Villa Madeleine Homeowners Association Website.  <b>Please respond to this email</b>
</p>

<p>
    If you did not sign up or believe that a sign up was in error  <b>Please do not respond and contact us at Villa Madeleine Homeowners (**** phone ****) immediately</b>
</p>

Thank you,<br />
The Villa Madeleine Homeowners Support Team